In [1]:
#python --> easy syntax, interpreted,prebuilt libraries and methods,oops(object oriented programming)

In [2]:
# helpful in complex mathematical calculations reqd for data science

In [3]:
#handle big data
#create web applications

In [4]:
print("Hello World!")  #shift+enter ===pre-built method to print something on screen

Hello World!

In [5]:
input("Enter you email:") #take user input

Enter you email: hi

'hi'

In [6]:
#comment --> text written for programmer's reference
# hi
# how are you doing   ctrl + /

In [7]:
#VARIABLES  --> something whose values are not fixed
#case- sensitive [A x a)

In [8]:
a = 30  #value 10 is stored in a memory location with name a
print(a)

30

In [9]:
a= 10
A = 10
print(a,A)

10 10

In [10]:
# print = 10 #keywords must not be used

In [11]:
# print(print)

In [12]:
#variable name should be meaningful

In [13]:
NEWVARIABLE = 100000
print(NEWVARIABLE)   #if u want any value to be constant fr the whole program

100000

In [ ]:
#multi-word variables 
# camel case --> myVariableName
# pascal case --> MyVariableName
# snake case --> my_variable_name

In [14]:
#many values to multiple variable at once
x,y,z=1,2,3
print(x,y,z)
print(x)

1 2 3
1

In [15]:
#once value to multiple variables
p=q=r=100
print(p,q,r)

100 100 100

In [16]:
#multiple values in one variable
multi_value=[1,2,3,4,5,6]
print(multi_value)

[1, 2, 3, 4, 5, 6]

In [17]:
#datatypes --> what type of data we are using
#integers (number) -- negative/positive
#float -- decimal 1.2
#string -- characters,alphabets,symbols,combination of all 
#boolean -- true,false/1,0/yes,no

In [21]:
x= "True"
print(type(x))

<class 'str'>

In [22]:
# string --> ''single quote , ***""double quotes***, ''' '''(triple quote)

In [23]:
x = ''' hi
hcbskjdcbsjd
dbjskdcbsd'''
print(x)

 hi
hcbskjdcbsjd
dbjskdcbsd

In [30]:
#string representation with multiple quotes

conversation = '''hey have you seen that movie "kick"'''
print(conversation)

hey have you seen that movie "kick"

In [35]:
x= "6"  #string to float  
y = int(x)
print(type(x))
print(type(y),y)
#string to int /float is only possible for numbers not characters

<class 'str'>
<class 'int'> 6

In [1]:
#4 data type
x = 70
print(type(x))

<class 'int'>

In [3]:
y = float(x)
print(y)
print(type(y))

70.0
<class 'float'>

In [4]:
# num =  125 convert it into string then convert the string into float

In [7]:
num = 125
String = str(num)
print(String,type(String))

125 <class 'str'>

In [8]:
Float = float(String)
print(Float,type(Float))

125.0 <class 'float'>

In [9]:
#methods - inbuilt functionalities provided by python
#string methods - methods used to do operations on strings

In [12]:
str = "xygbcksbdcsd bcjksdnclc lskbkdbchbckjdsn"
print(len(str))

40

In [14]:
str1 = str.upper() #convert all characters in a string to upper case
print(str1)

XYGBCKSBDCSD BCJKSDNCLC LSKBKDBCHBCKJDSN

In [15]:
str1.lower() #convert all characters in a string to lower case

'xygbcksbdcsd bcjksdnclc lskbkdbchbckjdsn'

In [26]:
value = "hi how are you, all good?"
value1 = value.capitalize() #capitalizes 1st letter of sentence
print(value1)
value.title() #used to capitalize all the words

Hi how are you, all good?

'Hi How Are You, All Good?'

In [16]:
str = "Vikas ANand Kumar Arya"
print(len(str))

22

In [17]:
STR="abch kll"
print(len(STR))

8

In [21]:
str = "      xygbcksbdcsd bcjksdnclc lskbkdbchbckjdsn       " #whitespaces
print(len(str)) 
str1 =str.strip()
print(len(str1))

53
40

In [37]:
value = "hi how are you, 4545"
value.replace("hi","hello") #string_name.replace(oldword,newword)

'hello how are you, 4545'

In [38]:
value1 = value.split(",") #delimiter
print(value1)

['hi how are you', ' 4545']

In [31]:
x = "hi"

In [32]:
print(x)

hi

In [45]:
value = "hi how are you, 4545" 
value[4:10:2] #stringname[start:end+1:step]

'o r'

In [52]:
num = "1234567890" #0123456789
num[2:10]

'34567890'

In [54]:
str = "123456789"
#print all the even numbers
str[1:10:2]

'2468'

In [57]:
x=(1,2,3,4,5,6,7,8,9,10,11,12)
y=x[1::2]

In [58]:
print(y)

(2, 4, 6, 8, 10, 12)

In [59]:
x=(1,2,3,4,5,6,7,8,9,10,11,12)
x[1::2] #starts at index no 1(value is 2) runs till the end of data and steps to the every 2nd elemnts after start

(2, 4, 6, 8, 10, 12)

In [62]:
x=(1,2,3,4,5,6,7,8,9,10,11,12)
x[-8::-2]

(5, 3, 1)

In [63]:
str = "123456789"  #string concatination
str1 = "vghjbkj"
str3 = str + str1
print(str3)

123456789vghjbkj

In [5]:
#f-strings --> format to write strings
x= 10
#print("i have " + x + " rupees") #only works for variables having str value
print(f"i ha{x}verupees")

i ha10verupees

In [76]:
#OPERATORS
#arithematic ==> +,-,*,/,%,//,**
x = 100
y=3
# % modulo --> returns the remainder
print(x%y)  #return remainder
print(x/y) #returns quotient
print(x//y) #return the quotient but in integer datatype
print(x**y)  #100^3

1
33.333333333333336
33
1000000

In [91]:
#assignment operators ==> =,+=,-=,*=,/=,,%=,//=,**=
x = 10
x //=2  #x = x//2 assigning the value to x after performing operation
print(x)

5

In [94]:
#comparison ==> ==,!=,<,>,<=,>= !=(not equal to)
x = 10
y = 30
print(x==y)

False

In [96]:
#logical operators ==> and, or, not combine multiple conditions together
x=4
y=5

result = x>6 and y<6  #both the conditions must be true for result to be true
print(result)

False

In [97]:
result = x>6 or y<6  #any of the conditions must be true for result to be true(at least 1 condition)
print(result)

True

In [100]:
x= 5  #not changes the bool output to the opposite -- reverse the original output
result = not(x<3) #true --> false
print(result)

True

In [1]:
#sequential data types
# list - []
# tuple - ()
# set - {}
# dictionary - {}

In [4]:
#List - ordered,changeable,allows duplicates,heterogeneous
list1 = [1,2,3,4,4,56,86,42,"hi"]
print(list1)
print(type(list1))

[1, 2, 3, 4, 4, 56, 86, 42, 'hi']
<class 'list'>

In [6]:
print(len(list1)) #length of list

9

In [13]:
list1[0] #to modify items in a specific position
list1[0] = "Poonam"
print(list1[8])
list1

hi

['Poonam', 2, 3, 4, 4, 56, 86, 42, 'hi']

In [14]:
#adds an item always to the last position in a list
list1.append(1234)  #add single item
print(list1)

['Poonam', 2, 3, 4, 4, 56, 86, 42, 'hi', 1234]

In [15]:
#adding multiple items at the end
list1.extend([20,30,40,50])  #extend is used to add lists
print(list1)

['Poonam', 2, 3, 4, 4, 56, 86, 42, 'hi', 1234, 20, 30, 40, 50]

In [16]:
#add element in a specific location
list1.insert(0,657)  #(index_no,newValue)
print(list1)

[657, 'Poonam', 2, 3, 4, 4, 56, 86, 42, 'hi', 1234, 20, 30, 40, 50]

In [18]:
#remove - removes item by value
list1.remove(4)
print(list1)

[657, 2, 3, 4, 56, 86, 42, 'hi', 1234, 20, 30, 40, 50]

In [22]:
#pop - remove item with help of index number but if u do not specify the index, it will remove item from the last position
#list1.pop(2)
list1.pop(0) #(index_no)
print(list1)

[2, 4, 56, 86, 42, 'hi', 1234, 20, 30, 40]

In [25]:
#count - how many times an element occurs in the list
list2 = [657, 2, 3, 4, 56, 86, 42, 1234,4, 20, 30, 40,4,4,4,4,4,4,4,4,4, 50]
list2.count(4)

11

In [ ]:
#sort - sorts values in ascending order 
#similar datatype is required 
#descending sort(reverse = True)

In [27]:
list2.sort(reverse = True)
print(list2)

[1234, 657, 86, 56, 50, 42, 40, 30, 20, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 3, 2]

In [28]:
#reverse = reverse the list 
list2 = [657, 2, 3, 4, 56, 86, 42, 1234,4, 20, 30, 40,4,4,4,4,4,4,4,4,4, 50]
list2.reverse()
print(list2)

[50, 4, 4, 4, 4, 4, 4, 4, 4, 4, 40, 30, 20, 4, 1234, 42, 86, 56, 4, 3, 2, 657]

In [29]:
#clear() - used to delete all items in a list
print(list1)

[2, 4, 56, 86, 42, 'hi', 1234, 20, 30, 40]

In [30]:
list1.clear()
print(list1)

[]

In [32]:
#del keyword - used to remove specific item,multiple items,delete complete list 
print(list2)
del list2[0]
print(list2)

[50, 4, 4, 4, 4, 4, 4, 4, 4, 4, 40, 30, 20, 4, 1234, 42, 86, 56, 4, 3, 2, 657]
[4, 4, 4, 4, 4, 4, 4, 4, 4, 40, 30, 20, 4, 1234, 42, 86, 56, 4, 3, 2, 657]

In [33]:
del list2[0:10] 
print(list2)

[30, 20, 4, 1234, 42, 86, 56, 4, 3, 2, 657]

In [34]:
del list2

In [35]:
list2

NameError: name 'list2' is not defined

In [41]:
#tuple - ordered,unchangeable,allows duplicates
tuple1 = (1,2,3,4,5,6,7,8,9,4.4,4,4,4,"h","p")
print(tuple1)
print(type(tuple1))
print(len(tuple1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 4.4, 4, 4, 4, 'h', 'p')
<class 'tuple'>
15

In [42]:
tuple1.count(4) #we want to check the occurances of a particular value

4

In [45]:
x= list(tuple1)
print(x)
print(type(x))

#perform methods here

tuple2 = tuple(x)
print(tuple2)
print(type(tuple2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 4.4, 4, 4, 4, 'h', 'p']
<class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 4.4, 4, 4, 4, 'h', 'p')
<class 'tuple'>

In [46]:
#question = create a tuple of 10 items, implement any 3 methods to modify the items in that tuple, output should be a tuple

In [49]:
#Sets = unordered,unchangeable,donot allow duplicates
set1 = {1,2,3,4,5,6,6,6,6,"hi"}
print(set1)
print(type(set1))
print(len(set1))

{1, 2, 3, 4, 5, 6, 'hi'}
<class 'set'>
7

In [54]:
#add methods = add an element to the set
set1.add(62) #adds single value to the list 
print(set1)

{1, 2, 3, 4, 5, 6, 23, 'hi', 62}

In [56]:
#update - add multiple values at the same time
set1.update(["k","p",2.3])
set1

{1, 2, 2.3, 23, 3, 4, 5, 6, 62, 'hi', 'k', 'p'}

In [60]:
#remove - remove a value
set1.remove(2.33)
print(set1)

KeyError: 2.33

In [61]:
#discard - remove a value
set1.discard(2.33)
print(set1)

{1, 2, 3, 4, 5, 6, 'p', 23, 'k', 'hi', 62}

In [59]:
set2 = {1,2,3,4,5,6,6,6,6,"hihowareyoudoing"}
set2.update(["hihowareyoudoing"])
print(set2)

{1, 2, 3, 4, 5, 6, 'hihowareyoudoing'}

In [67]:
set3 = {1,2,3.11,4.22}
set3.discard(3.1)
print(set3)
set3.discard(4.220)
print(set3)

{1, 2, 3.11, 4.22}
{1, 2, 3.11}

In [65]:
set1 = {1, 2, 3, 4, 5, 6, 8, 9, 10, 'hi', 62}
set1.update("hello")
print(set1)

{1, 2, 3, 4, 5, 6, 'h', 8, 9, 10, 'e', 'o', 'hi', 'l', 62}

In [68]:
#pop method = removes any random element from the set pop()

In [69]:
#clear() - delete all the elements in the set

In [72]:
#del keyword 
print(set1)
del set1
print(set1)

NameError: name 'set1' is not defined

In [73]:
#set operations = union,intersection,difference,symmetric_difference

In [75]:
set1 = {1, 2, 3, 4, 5, 6, 'h', 8, 9, 10, 'e', 'o', 'hi', 'l', 62}
set2 = {2, 4, 56, 86, 42, 'hi', 1234, 20, 30, 40}
#result = set1.union(set2,set3,set4) used to join 2 or more sets
result = set1 | set2 |set3 |set4
print(result)

{1, 2, 3, 4, 5, 6, 'h', 8, 9, 10, 1234, 20, 'o', 86, 30, 'e', 40, 42, 'hi', 56, 'l', 62}

In [77]:
#result = set1.intersection(set2) #returns the elements which are common in both sets
result = set1 & set2
print(result)

{2, 4, 'hi'}

In [80]:
#difference - return the elements in the set that are not present in the other set
result = set1.difference(set2) #set1 elements
#result1 = set2.difference(set1) #set2 elements
result1 = set2 - set1
print(result)
print(result1)

{1, 'h', 3, 5, 6, 'e', 8, 9, 10, 'o', 'l', 62}
{40, 42, 1234, 20, 86, 56, 30}

In [82]:
#symmetric_difference = unique values present in both the sets
#result = set1.symmetric_difference(set2)
result = set1 ^ set2
print(result)

{1, 3, 'h', 5, 6, 8, 9, 10, 20, 30, 'e', 40, 42, 56, 'o', 62, 1234, 86, 'l'}

In [85]:
#issuperset
#issubset

super = {1,10,2,20,3,30,4,40,5,50}
sub = {1,2,3,4,5,6}
print(super.issuperset(sub))
print(sub.issubset(super))

False
False

In [1]:
#dictionary -{} ordered,changeable and do not allow duplicates
#do not have index numbers
#key:value pair  eg. name: Poonam age:35
#in dictionary we store detailed information

In [3]:
dict1 ={
    "name": "Ajay", #key : value
    "age" : 40,
    "empID" : 12345,
    "status" : "manager",
    "status" : "employee"
}
dict1["status"]

'employee'

In [13]:
dict2 = {
    "emp1" : {
        "name" : "adi",
        "empid" : 123
    },
    "emp2" : {
        "name" : "Riya",
        "empid" : 123
    }
}
print(dict2["emp1"]["name"])

adi

In [6]:
#get() => return the values for specified key
dict1.get("name")

'Ajay'

In [11]:
dict2.get("emp1")

{'name': 'adi', 'empid': 123}

In [14]:
dict2.get("emp1",{}).get("name")

'adi'

In [15]:
#keys() - used to return all the keys present in the dictionary
dict1.keys()

dict_keys(['name', 'age', 'empID', 'status'])

In [16]:
#values() - return all the values in the dictionary
dict1.values()

dict_values(['Ajay', 40, 12345, 'employee'])

In [17]:
#items() - retuens all the key value pairs
dict1.items()

dict_items([('name', 'Ajay'), ('age', 40), ('empID', 12345), ('status', 'employee')])

In [18]:
#pop() - remove the value for a specfic key
dict1.pop("empID")
print(dict1)

{'name': 'Ajay', 'age': 40, 'status': 'employee'}

In [20]:
dict2.get("emp1").pop("name")

'adi'

In [21]:
#popitem()
dict1.popitem()
print(dict1)

{'name': 'Ajay', 'age': 40}

In [23]:
dict1 ={
    "name": "Ajay", #key : value
    "age" : 40,
    "empID" : 12345,
    "status" : "manager",
    "status" : "employee"
}
dict1.update({"status" : 200000})
print(dict1)

{'name': 'Ajay', 'age': 40, 'empID': 12345, 'status': 200000}

In [24]:
#clear()
dict1.clear()
print(dict1)

{}

In [ ]:
# : -> used in conditional statements,loops,functions,classes to create a block for us to write code in it
# in built methods- () tuples
#sq [] - list,arrays,index
#curly{} - sets,variables in f-strings,dictionaries

In [26]:
#conditional statements - 

idcard = False

if idcard == True:
    print("enter")
else:
    print("not allowed")

not allowed

In [27]:
#take a number and check if it is greater than 2.3 or not
#num%2==0 wap to check if a number is even or not

In [28]:
# num%2==0
#4%2 =0
#0==0  #even

In [29]:
#10/2= 5 is q , 0 is remainder
#10%2=0
#comparision remainder must be 0

In [34]:
#logical operator - and , or
#to combine multiple conditions
# a>10 but a<100
a=450
if a==10 or a<100:
    print("ok")
else:
    print("not ok")

not ok

In [35]:
#you are a teacher and you have to assign the grades A+,A,B+,B,C,D,FAIL to students based on ther  marks
#100-90 A+
#90-80 A
#80-70 B+
#70-60 B
#60-50 C
#50-40 D
#below 40 Fail

In [1]:
#elif - else-if
marks=99
if marks>=90 and marks<=100:
    print("A+")
elif marks>=80 and marks<90:
    print("A")

A+

In [40]:
M = int(input("Enter your Marks to know your grades"))
if M>90 and M<=100:  #if marks>80 else: if marks >70 else if marks >60
  print("Grade A+")
elif M>80 and M<90:
  print("Grade A")
elif M>70 and M<=80:
  print("Grade B+")
elif M>60 and M<=70:
  print("Grade B")
elif M>50 and M<=60:
  print("Grade C")
elif M>40 and M<=50:
  print("Grade D")
elif M>100:
    print("Invalid")
else:
  print("Fail")

Enter your Marks to know your grades 109

Invalid

In [46]:
#nested if else
age = int(input())

if age>=18:
    membership = input("yes/no")
    if membership == "yes":
        print("you are a member")
    else:
        print("you are eligible")
else:
    print("not eligible")

 56
yes/no no

you are eligible

In [47]:
#temp = >0 <50
#weather = sunny/rainy/chilled
#say the user that he should go out to play or not

In [ ]:
temp = int(input("Enter the Temperature"))
if temp >= 0 and temp <= 12 :
    weather = input("sunny/rainy/chilled")
    if whether == "Sunny":
        print ("You can go, Have fun.")
if temp >= 13 and temp <= 25 :
    weather = input("Sunny / Rainy / Chilled")
    if whether == "Rainy":
        print ("you cann't go, Its Raining.")
if temp >= 25 and temp <= 50 :
    weather = input("Sunny / Rainy / Chilled")
    if whether =="Chilled":
        print ("So cold outside")

In [55]:
temp = int(input())
if temp>0 and temp<50:
   weather = input("sunny/rainy/chilled")
   if weather == "sunny":
      print ("go and play")
   elif weather == "rainy":
      print ("bring umbrella")
   elif weather == "chilled":
      print ("go to sleep")

 34
sunny/rainy/chilled sunny

go and play

In [3]:
temp=int(input("temp="))

weather = input("weather is sunny/rainy/chilled: ")
if temp>=0 and temp<=20:
    if weather=="cold":
        print("you can not go out")
    else:
        print("invalid weather")
elif temp>20 and temp<=50:
    if weather=="sunny":
        print("you can go out")
    else:
        print("invalid weather")
else:
    print("invalid")

temp= 44
weather is sunny/rainy/chilled:  sunny

you can go out

In [62]:
#pass keyword - pass
a=10
if a>7:
    pass
else:
    print("ok")

In [65]:
temp = int(input("Enter the Temperature"))
if temp >= 0 and temp <= 12 :
    weather = input("Sunny / Rainy / Chilled")
    if whether == "Sunny":
        print ("You can go, Have fun.")
if temp >= 13 and temp <= 25 :
    weather = input("Sunny / Rainy / Chilled")
    if weather == "Rainy":
        print ("you cann't go, Its Raining.")
if temp >= 26 and temp <= 50 :
    weather = input("Sunny / Rainy / Chilled")
    if weather == ("Chilled"):
        print ("So cold outside")

Enter the Temperature 23
Sunny / Rainy / Chilled Rainy

you cann't go, Its Raining.

In [66]:
#loops - used to iterate over data continuously until the condition is satisfied
#while and for
#while - used when condtions are given #incrementation is needed manually #iterator is initialized
#for - specified no of iteration #automatically incremented #range()

In [67]:
#iterator - goes to each element present in the data
#incrementation - how u r increasing the value of iterator after each iteration

In [69]:
#while - bank queue
peon = 1
while peon<=10: #used in cases where u don't know how many times the loop needs to run but u know the condition
    print(f"{peon}collect form")
    peon+=2  #peon = peon+2 1+2 =3

1collect form
2collect form
3collect form
4collect form
5collect form
6collect form
7collect form
8collect form
9collect form
10collect form

In [72]:
#for 
#range() - generate a sequence of number range(start,stop,step) stop = end-1
# range(11)  -> 0,1,2,3,4....9
for peon in range(0,20,2): #1,2,3,4,5,6,7,8,9,10
    print(f"{peon} collect form")

0 collect form
2 collect form
4 collect form
6 collect form
8 collect form
10 collect form
12 collect form
14 collect form
16 collect form
18 collect form

In [1]:
#print sum of all the number till 10 1+2+3+4...+10  while
#print the table of 5 using for loop

In [2]:
#input a number and print the reverse countdown till 0  - 10 
#10,9,8,7,....0

In [5]:
num = int(input("enter a numer"))
while num>0:
    print(num)
    num-=1

enter a numer 20

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [6]:
number = int(input("Enter a number: "))
while number >= 0:
    print(number)
    number -= 1

Enter a number:  10

10
9
8
7
6
5
4
3
2
1
0

In [7]:
#nested loops = loops inside loops
#while and for
1-5 5x1=

In [14]:
#print the table till 5 using nested while
i= 1
while i<=5:
    j=1
    while j<=10:
        print(f"{i} x {j} = {i*j}")
        j+=1
    print() #move to next line
    i+=1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [18]:
#print a triangle pattern using while loop

i=1 #iterator for outer loop

while i<=5:
    j=1 # j =1
    while j<=i: #i =1 , j will run 1 time, i=2, j will run 2 times.. i=5, j will run 5 times
        print("*",end="")
        j+=1 # j =3
    print() #once this is run, it will move to the next line
    i+=1 # i =3

*
**
***
****
*****

In [19]:
# i=1, j<=i(1<=1) --> * j=2(goes out of loop)
# i=2, j<=i(1<=2) --> * j=2 (2<=2) * j=3(goes out of the loop)

In [20]:
#square pattern 3x3 i=1 j=3 i=2 j=3

In [21]:
#nested for loops - 
#print the table till 5 using nested for loops

In [27]:
for i in range(1,6): #1,2,3,4,5 range(start,stop,step) stop = end+1
    for j in range(1,i): #0,1,2,3,4
        print(j,end ="")
    print()

1
12
123
1234

In [28]:
#print the square pattern using for loops

#print this pattern using for loops
1
12
123
1234
12345

12345

In [29]:
#control flow statements - break & continue statements

In [34]:
#break - used to move out/exit a current loop
for i in range(11): #0,1,2....10
    if i==8: #if this condition is met, loop breaks
        break #it will exit after meeting this codition
    else:  #this will execute when i!=8
        print(i)
print("loop broke")

0
1
2
3
4
5
6
7
loop broke

In [35]:
#print all even numbers till 50 and break the loop when it encounters 36

In [36]:
#continue statement = it will skip the specific iteration when condition is true and it will proceed with next iteration

In [37]:
for i in range(40):
    if i%2==0: #i = even
        continue #it will skip that iteration where condition is True
    else:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39

In [38]:
#print all the numbers till 100 but do not print the numbers which are divisible by 3
#print all multiple of 3 and skip the rest

In [46]:
#functions - piece of code which is used to perform some task and it is reusable
#def keyword is used to define a function
#def func_name():

def fun():
    print("Hello")
    print(34)
fun() #until function is called it will not work

Hello
34

In [ ]:
#parameters - variables that are used to get the value which is passed by the user and pass those values into the function
#arguments - values that the user passes
#no of parameters = no of arguments

In [48]:
def addition(num1,num2): #parameters
    print(f"sum is {num1+num2}")
addition(3,5) #arguments

sum is 8

In [49]:
#make a calculator with 4 arithematic operators

In [51]:
# *args = when u donot know how many values the user will pass
def func_name(*num):
    print(num)
func_name("a","b","c")

('a', 'b', 'c')

In [53]:
# **kwargs= access multiple named values from users keyword argument
def printing(**detail):
    print(detail)
printing(name ="poonam",age=35) #stored in form of dictionary

{'name': 'poonam', 'age': 35}

In [3]:
def apple(**detail): #parameter will take the input as a key:value pair
    for key,value in detail.items(): #return the key:value pair
        #name(key) : poonam(value)
        #age(key): 35(value)
        print(f"{key} = {value}")
apple(name ="poonam",age=35,empid =12345,state = "karanatak")

name = poonam
age = 35
empid = 12345
state = karanatak

In [1]:
#nested if else
#while for
#kwargs
#lambda function

In [6]:
#lambda function - def keyword is not used instead lambda keyword is used
#function is anonymous
#functionalities are stored in a variable, when variable is printed the output of the function is displayed

In [7]:
add = lambda x,y: x+y #variable = lambda parameters : expression
print(add(3,5)) #print(variable(arguments))

8

In [14]:
#pass 2 values in arguments and check which is the greatest
max= lambda x,y : x if x>y else y
print(max(300,44))
#check if a number is even or not
even = lambda x: x%2==0
print(even(3))
#filter out the negative numbers from a list
negativ = lambda list1 : [x for x in list1 if x>=0] #0,1,2,4,-2
print(negativ([-1,2,-4,2,3,4,0,-100]))

300
False
[2, 2, 3, 4, 0]

In [15]:
#q. take a input of list having duplicate values and remove those duplicates and return a list with unique values
list1 = [1,4,65,4,2,1,1,1,7,9,4,]
print(list(set(list1)))

[65, 1, 2, 4, 7, 9]

In [18]:
num = int(input("enter a number"))
list1 = []
for i in range(num):
    input_new = int(input("enter a number for list element"))
    list1.append(input_new) 
print(list1)

print(list(set(list1)))

enter a number 5
enter a number for list element 1
enter a number for list element 11
enter a number for list element 1
enter a number for list element 3
enter a number for list element 3

[1, 11, 1, 3, 3]
[3, 1, 11]

In [20]:
#q. factorial = 5! = 5x4x3x2x1 WAP in which u take the user input and calculate the factorial for that number
#fact = fact*n-1  n is iterator and decrement it  n-=1

In [21]:
#check if a string is palindrome or not

In [24]:
str = "sdfds"
s = str[::-1] #string_name[start:stop:step]
print(s)
if str == s:
    print("palindrome")
else:
    print("not palindrome")

sdfds
palindrome

In [25]:
# take list and count the number of even and odd elements in the list

In [1]:
#create a function  and take a integer as input and check if it is an armstrong number or not  
# 153 = 1^3 + 5^3 + 3^3 = 153

def armstrg(num):
    nstr = str(num) #"153"
    ndigits = len(nstr) #3
    sum_pow = sum(int(poonam) ** ndigits for poonam in nstr)
    return sum_pow == num
num = 153
print(armstrg(num))

True